// Variaveis
/* Variaveis de Reset */
$margin:0;
$padding:0;

// Grid
$display: flex;

// Tamanho dos Containers
$width-container-desktop:70%;
$width-container-mobile:90%;
$width-container-tablet:80%;

// Width Padrão
$width:100%;

// Margin dos titulos
$margin-titulo:20px;

$margin-box:10px;

// Lista dos nomes das imagens
$cidades-brasil: br-1, br-2, br-3, br-4, br-5, br-6;
$cidades-mundo: mnd-1,mnd-2, mnd-3, mnd-4, mnd-5, mnd-6;
